data/images/images/abomasnow.png
data/images/images/abra.png
data/images/images/absol.png
data/images/images/accelgor.png
data/images/images/aegislash-blade.png
data/images/images/aerodactyl.png
data/images/images/aggron.png
data/images/images/aipom.png
data/images/images/alakazam.png
data/images/images/alomomola.png
data/images/images/altaria.png
data/images/images/amaura.png
data/images/images/ambipom.png
data/images/images/amoonguss.png
data/images/images/ampharos.png
data/images/images/anorith.png
data/images/images/araquanid.jpg
data/images/images/arbok.png
data/images/images/arcanine.png
data/images/images/arceus.png
data/images/images/archen.png
data/images/images/archeops.png
data/images/images/ariados.png
data/images/images/armaldo.png
data/images/images/aromatisse.png
data/images/images/aron.png
data/images/images/articuno.png
data/images/images/audino.png
data/images/images/aurorus.png
data/images/images/avalugg.png
data/images/images/axew.png
data/images/images/azelf.png
data/images/images/azumarill.png
data/images/images/azurill.png
data/images/images/bagon.png
data/images/images/baltoy.png
data/images/images/banette.png
data/images/images/barbaracle.png
data/images/images/barboach.png
data/images/images/basculin-red-striped.png
data/images/images/bastiodon.png
data/images/images/bayleef.png
data/images/images/beartic.png
data/images/images/beautifly.png
data/images/images/beedrill.png
data/images/images/beheeyem.png
data/images/images/beldum.png
data/images/images/bellossom.png
data/images/images/bellsprout.png
data/images/images/bergmite.png
data/images/images/bewear.jpg
data/images/images/bibarel.png
data/images/images/bidoof.png
data/images/images/binacle.png
data/images/images/bisharp.png
data/images/images/blacephalon.jpg
data/images/images/blastoise.png
data/images/images/blaziken.png
data/images/images/blissey.png
data/images/images/blitzle.png
data/images/images/boldore.png
data/images/images/bonsly.png
data/images/images/bouffalant.png
data/images/images/bounsweet.jpg
data/images/images/braixen.png
data/images/images/braviary.png
data/images/images/breloom.png
data/images/images/brionne.jpg
data/images/images/bronzong.png
data/images/images/bronzor.png
data/images/images/bruxish.jpg
data/images/images/budew.png
data/images/images/buizel.png
data/images/images/bulbasaur.png
data/images/images/buneary.png
data/images/images/bunnelby.png
data/images/images/burmy.png
data/images/images/butterfree.png
data/images/images/buzzwole.jpg
data/images/images/cacnea.png
data/images/images/cacturne.png
data/images/images/camerupt.png
data/images/images/carbink.png
data/images/images/carnivine.png
data/images/images/carracosta.png
data/images/images/carvanha.png
data/images/images/cascoon.png
data/images/images/castform.png
data/images/images/caterpie.png
data/images/images/celebi.png
data/images/images/celesteela.jpg
data/images/images/chandelure.png
data/images/images/chansey.png
data/images/images/charizard.png
data/images/images/charjabug.jpg
data/images/images/charmander.png
data/images/images/charmeleon.png
data/images/images/chatot.png
data/images/images/cherrim.png
data/images/images/cherubi.png
data/images/images/chesnaught.png
data/images/images/chespin.png
data/images/images/chikorita.png
data/images/images/chimchar.png
data/images/images/chimecho.png
data/images/images/chinchou.png
data/images/images/chingling.png
data/images/images/cinccino.png
data/images/images/clamperl.png
data/images/images/clauncher.png
data/images/images/clawitzer.png
data/images/images/claydol.png
data/images/images/clefable.png
data/images/images/clefairy.png
data/images/images/cleffa.png
data/images/images/cloyster.png
data/images/images/cobalion.png
data/images/images/cofagrigus.png
data/images/images/combee.png
data/images/images/combusken.png
data/images/images/comfey.jpg
data/images/images/conkeldurr.png
data/images/images/corphish.png
data/images/images/corsola.png
data/images/images/cosmoem.jpg
data/images/images/cosmog.jpg
data/images/images/cottonee.png
data/images/images/crabominable.jpg
data/images/images/crabrawler.jpg
data/images/images/cradily.png
data/images/images/cranidos.png
data/images/images/crawdaunt.png
data/images/images/cresselia.png
data/images/images/croagunk.png
data/images/images/crobat.png
data/images/images/croconaw.png
data/images/images/crustle.png
data/images/images/cryogonal.png
data/images/images/cubchoo.png
data/images/images/cubone.png
data/images/images/cutiefly.jpg
data/images/images/cyndaquil.png
data/images/images/darkrai.png
data/images/images/darmanitan-standard.png
data/images/images/dartrix.jpg
data/images/images/darumaka.png
data/images/images/decidueye.jpg
data/images/images/dedenne.png
data/images/images/deerling.png
data/images/images/deino.png
data/images/images/delcatty.png
data/images/images/delibird.png
data/images/images/delphox.png
data/images/images/deoxys-normal.png
data/images/images/dewgong.png
data/images/images/dewott.png
data/images/images/dewpider.jpg
data/images/images/dhelmise.jpg
data/images/images/dialga.png
data/images/images/diancie.png
data/images/images/diggersby.png
data/images/images/diglett.png
data/images/images/ditto.png
data/images/images/dodrio.png
data/images/images/doduo.png
data/images/images/donphan.png
data/images/images/doublade.png
data/images/images/dragalge.png
data/images/images/dragonair.png
data/images/images/dragonite.png
data/images/images/drampa.jpg
data/images/images/drapion.png
data/images/images/dratini.png
data/images/images/drifblim.png
data/images/images/drifloon.png
data/images/images/drilbur.png
data/images/images/drowzee.png
data/images/images/druddigon.png
data/images/images/ducklett.png
data/images/images/dugtrio.png
data/images/images/dunsparce.png
data/images/images/duosion.png
data/images/images/durant.png
data/images/images/dusclops.png
data/images/images/dusknoir.png
data/images/images/duskull.png
data/images/images/dustox.png
data/images/images/dwebble.png
data/images/images/eelektrik.png
data/images/images/eelektross.png
data/images/images/eevee.png
data/images/images/ekans.png
data/images/images/electabuzz.png
data/images/images/electivire.png
data/images/images/electrike.png
data/images/images/electrode.png
data/images/images/elekid.png
data/images/images/elgyem.png
data/images/images/emboar.png
data/images/images/emolga.png
data/images/images/empoleon.png
data/images/images/entei.png
data/images/images/escavalier.png
data/images/images/espeon.png
data/images/images/espurr.png
data/images/images/excadrill.png
data/images/images/exeggcute.png
data/images/images/exeggutor.png
data/images/images/exploud.png
data/images/images/farfetchd.png
data/images/images/fearow.png
data/images/images/feebas.png
data/images/images/fennekin.png
data/images/images/feraligatr.png
data/images/images/ferroseed.png
data/images/images/ferrothorn.png
data/images/images/finneon.png
data/images/images/flaaffy.png
data/images/images/flabebe.png
data/images/images/flareon.png
data/images/images/fletchinder.png
data/images/images/fletchling.png
data/images/images/floatzel.png
data/images/images/floette.png
data/images/images/florges.png
data/images/images/flygon.png
data/images/images/fomantis.jpg
data/images/images/foongus.png
data/images/images/forretress.png
data/images/images/fraxure.png
data/images/images/frillish.png
data/images/images/froakie.png
data/images/images/frogadier.png
data/images/images/froslass.png
data/images/images/furfrou.png
data/images/images/furret.png
data/images/images/gabite.png
data/images/images/gallade.png
data/images/images/galvantula.png
data/images/images/garbodor.png
data/images/images/garchomp.png
data/images/images/gardevoir.png
data/images/images/gastly.png
data/images/images/gastrodon.png
data/images/images/genesect.png
data/images/images/gengar.png
data/images/images/geodude.png
data/images/images/gible.png
data/images/images/gigalith.png
data/images/images/girafarig.png
data/images/images/giratina-altered.png
data/images/images/glaceon.png
data/images/images/glalie.png
data/images/images/glameow.png
data/images/images/gligar.png
data/images/images/gliscor.png
data/images/images/gloom.png
data/images/images/gogoat.png
data/images/images/golbat.png
data/images/images/goldeen.png
data/images/images/golduck.png
data/images/images/golem.png
data/images/images/golett.png
data/images/images/golisopod.jpg
data/images/images/golurk.png
data/images/images/goodra.png
data/images/images/goomy.png
data/images/images/gorebyss.png
data/images/images/gothita.png
data/images/images/gothitelle.png
data/images/images/gothorita.png
data/images/images/gourgeist-average.png
data/images/images/granbull.png
data/images/images/graveler.png
data/images/images/greninja.png
data/images/images/grimer.png
data/images/images/grotle.png
data/images/images/groudon.png
data/images/images/grovyle.png
data/images/images/growlithe.png
data/images/images/grubbin.jpg
data/images/images/grumpig.png
data/images/images/gulpin.png
data/images/images/gumshoos.jpg
data/images/images/gurdurr.png
data/images/images/guzzlord.jpg
data/images/images/gyarados.png
data/images/images/hakamo-o.jpg
data/images/images/happiny.png
data/images/images/hariyama.png
data/images/images/haunter.png
data/images/images/hawlucha.png
data/images/images/haxorus.png
data/images/images/heatmor.png
data/images/images/heatran.png
data/images/images/heliolisk.png
data/images/images/helioptile.png
data/images/images/heracross.png
data/images/images/herdier.png
data/images/images/hippopotas.png
data/images/images/hippowdon.png
data/images/images/hitmonchan.png
data/images/images/hitmonlee.png
data/images/images/hitmontop.png
data/images/images/honchkrow.png
data/images/images/honedge.png
data/images/images/ho-oh.png
data/images/images/hoopa-confined.png
data/images/images/hoothoot.png
data/images/images/hoppip.png
data/images/images/horsea.png
data/images/images/houndoom.png
data/images/images/houndour.png
data/images/images/huntail.png
data/images/images/hydreigon.png
data/images/images/hypno.png
data/images/images/igglybuff.png
data/images/images/illumise.png
data/images/images/incineroar.jpg
data/images/images/infernape.png
data/images/images/inkay.png
data/images/images/ivysaur.png
data/images/images/jangmo-o.jpg
data/images/images/jellicent.png
data/images/images/jigglypuff.png
data/images/images/jirachi.png
data/images/images/jolteon.png
data/images/images/joltik.png
data/images/images/jumpluff.png
data/images/images/jynx.png
data/images/images/kabuto.png
data/images/images/kabutops.png
data/images/images/kadabra.png
data/images/images/kakuna.png
data/images/images/kangaskhan.png
data/images/images/karrablast.png
data/images/images/kartana.jpg
data/images/images/kecleon.png
data/images/images/keldeo-ordinary.png
data/images/images/kingdra.png
data/images/images/kingler.png
data/images/images/kirlia.png
data/images/images/klang.png
data/images/images/klefki.png
data/images/images/klink.png
data/images/images/klinklang.png
data/images/images/koffing.png
data/images/images/komala.jpg
data/images/images/kommo-o.jpg
data/images/images/krabby.png
data/images/images/kricketot.png
data/images/images/kricketune.png
data/images/images/krokorok.png
data/images/images/krookodile.png
data/images/images/kyogre.png
data/images/images/kyurem.png
data/images/images/lairon.png
data/images/images/lampent.png
data/images/images/landorus-incarnate.png
data/images/images/lanturn.png
data/images/images/lapras.png
data/images/images/larvesta.png
data/images/images/larvitar.png
data/images/images/latias.png
data/images/images/latios.png
data/images/images/leafeon.png
data/images/images/leavanny.png
data/images/images/ledian.png
data/images/images/ledyba.png
data/images/images/lickilicky.png
data/images/images/lickitung.png
data/images/images/liepard.png
data/images/images/lileep.png
data/images/images/lilligant.png
data/images/images/lillipup.png
data/images/images/linoone.png
data/images/images/litleo.png
data/images/images/litten.jpg
data/images/images/litwick.png
data/images/images/lombre.png
data/images/images/lopunny.png
data/images/images/lotad.png
data/images/images/loudred.png
data/images/images/lucario.png
data/images/images/ludicolo.png
data/images/images/lugia.png
data/images/images/lumineon.png
data/images/images/lunala.jpg
data/images/images/lunatone.png
data/images/images/lurantis.jpg
data/images/images/luvdisc.png
data/images/images/luxio.png
data/images/images/luxray.png
data/images/images/lycanroc-midday.jpg
data/images/images/machamp.png
data/images/images/machoke.png
data/images/images/machop.png
data/images/images/magby.png
data/images/images/magcargo.png
data/images/images/magearna.jpg
data/images/images/magikarp.png
data/images/images/magmar.png
data/images/images/magmortar.png
data/images/images/magnemite.png
data/images/images/magneton.png
data/images/images/magnezone.png
data/images/images/makuhita.png
data/images/images/malamar.png
data/images/images/mamoswine.png
data/images/images/manaphy.png
data/images/images/mandibuzz.png
data/images/images/manectric.png
data/images/images/mankey.png
data/images/images/mantine.png
data/images/images/mantyke.png
data/images/images/maractus.png
data/images/images/mareanie.jpg
data/images/images/mareep.png
data/images/images/marill.png
data/images/images/marowak.png
data/images/images/marshadow.jpg
data/images/images/marshtomp.png
data/images/images/masquerain.png
data/images/images/mawile.png
data/images/images/medicham.png
data/images/images/meditite.png
data/images/images/meganium.png
data/images/images/melmetal.jpg
data/images/images/meloetta-aria.png
data/images/images/meltan.jpg
data/images/images/meowstic-male.png
data/images/images/meowth.png
data/images/images/mesprit.png
data/images/images/metagross.png
data/images/images/metang.png
data/images/images/metapod.png
data/images/images/mew.png
data/images/images/mewtwo.png
data/images/images/mienfoo.png
data/images/images/mienshao.png
data/images/images/mightyena.png
data/images/images/milotic.png
data/images/images/miltank.png
data/images/images/mime-jr.png
data/images/images/mimikyu.jpg
data/images/images/minccino.png
data/images/images/minior-meteor.jpg
data/images/images/minun.png
data/images/images/misdreavus.png
data/images/images/mismagius.png
data/images/images/moltres.png
data/images/images/monferno.png
data/images/images/morelull.jpg
data/images/images/mothim.png
data/images/images/mr-mime.png
data/images/images/mudbray.jpg
data/images/images/mudkip.png
data/images/images/mudsdale.jpg
data/images/images/muk.png
data/images/images/munchlax.png
data/images/images/munna.png
data/images/images/murkrow.png
data/images/images/musharna.png
data/images/images/naganadel.jpg
data/images/images/natu.png
data/images/images/necrozma.jpg
data/images/images/nidoking.png
data/images/images/nidoqueen.png
data/images/images/nidoran-f.png
data/images/images/nidoran-m.png
data/images/images/nidorina.png
data/images/images/nidorino.png
data/images/images/nihilego.jpg
data/images/images/nincada.png
data/images/images/ninetales.png
data/images/images/ninjask.png
data/images/images/noctowl.png
data/images/images/noibat.png
data/images/images/noivern.png
data/images/images/nosepass.png
data/images/images/numel.png
data/images/images/nuzleaf.png
data/images/images/octillery.png
data/images/images/oddish.png
data/images/images/omanyte.png
data/images/images/omastar.png
data/images/images/onix.png
data/images/images/oranguru.jpg
data/images/images/oricorio-baile.jpg
data/images/images/oshawott.png
data/images/images/pachirisu.png
data/images/images/palkia.png
data/images/images/palossand.jpg
data/images/images/palpitoad.png
data/images/images/pancham.png
data/images/images/pangoro.png
data/images/images/panpour.png
data/images/images/pansage.png
data/images/images/pansear.png
data/images/images/paras.png
data/images/images/parasect.png
data/images/images/passimian.jpg
data/images/images/patrat.png
data/images/images/pawniard.png
data/images/images/pelipper.png
data/images/images/persian.png
data/images/images/petilil.png
data/images/images/phanpy.png
data/images/images/phantump.png
data/images/images/pheromosa.jpg
data/images/images/phione.png
data/images/images/pichu.png
data/images/images/pidgeot.png
data/images/images/pidgeotto.png
data/images/images/pidgey.png
data/images/images/pidove.png
data/images/images/pignite.png
data/images/images/pikachu.png
data/images/images/pikipek.jpg
data/images/images/piloswine.png
data/images/images/pineco.png
data/images/images/pinsir.png
data/images/images/piplup.png
data/images/images/plusle.png
data/images/images/poipole.jpg
data/images/images/politoed.png
data/images/images/poliwag.png
data/images/images/poliwhirl.png
data/images/images/poliwrath.png
data/images/images/ponyta.png
data/images/images/poochyena.png
data/images/images/popplio.jpg
data/images/images/porygon.png
data/images/images/porygon2.png
data/images/images/porygon-z.png
data/images/images/primarina.jpg
data/images/images/primeape.png
data/images/images/prinplup.png
data/images/images/probopass.png
data/images/images/psyduck.png
data/images/images/pumpkaboo-average.png
data/images/images/pupitar.png
data/images/images/purrloin.png
data/images/images/purugly.png
data/images/images/pyroar.png
data/images/images/pyukumuku.jpg
data/images/images/quagsire.png
data/images/images/quilava.png
data/images/images/quilladin.png
data/images/images/qwilfish.png
data/images/images/raichu.png
data/images/images/raikou.png
data/images/images/ralts.png
data/images/images/rampardos.png
data/images/images/rapidash.png
data/images/images/raticate.png
data/images/images/rattata.png
data/images/images/rayquaza.png
data/images/images/regice.png
data/images/images/regigigas.png
data/images/images/regirock.png
data/images/images/registeel.png
data/images/images/relicanth.png
data/images/images/remoraid.png
data/images/images/reshiram.png
data/images/images/reuniclus.png
data/images/images/rhydon.png
data/images/images/rhyhorn.png
data/images/images/rhyperior.png
data/images/images/ribombee.jpg
data/images/images/riolu.png
data/images/images/rockruff.jpg
data/images/images/roggenrola.png
data/images/images/roselia.png
data/images/images/roserade.png
data/images/images/rotom.png
data/images/images/rowlet.jpg
data/images/images/rufflet.png
data/images/images/sableye.png
data/images/images/salamence.png
data/images/images/salandit.jpg
data/images/images/salazzle.jpg
data/images/images/samurott.png
data/images/images/sandile.png
data/images/images/sandshrew.png
data/images/images/sandslash.png
data/images/images/sandygast.jpg
data/images/images/sawk.png
data/images/images/sawsbuck.png
data/images/images/scatterbug.png
data/images/images/sceptile.png
data/images/images/scizor.png
data/images/images/scolipede.png
data/images/images/scrafty.png
data/images/images/scraggy.png
data/images/images/scyther.png
data/images/images/seadra.png
data/images/images/seaking.png
data/images/images/sealeo.png
data/images/images/seedot.png
data/images/images/seel.png
data/images/images/seismitoad.png
data/images/images/sentret.png
data/images/images/serperior.png
data/images/images/servine.png
data/images/images/seviper.png
data/images/images/sewaddle.png
data/images/images/sharpedo.png
data/images/images/shaymin-land.png
data/images/images/shedinja.png
data/images/images/shelgon.png
data/images/images/shellder.png
data/images/images/shellos.png
data/images/images/shelmet.png
data/images/images/shieldon.png
data/images/images/shiftry.png
data/images/images/shiinotic.jpg
data/images/images/shinx.png
data/images/images/shroomish.png
data/images/images/shuckle.png
data/images/images/shuppet.png
data/images/images/sigilyph.png
data/images/images/silcoon.png
data/images/images/silvally.jpg
data/images/images/simipour.png
data/images/images/simisage.png
data/images/images/simisear.png
data/images/images/skarmory.png
data/images/images/skiddo.png
data/images/images/skiploom.png
data/images/images/skitty.png
data/images/images/skorupi.png
data/images/images/skrelp.png
data/images/images/skuntank.png
data/images/images/slaking.png
data/images/images/slakoth.png
data/images/images/sliggoo.png
data/images/images/slowbro.png
data/images/images/slowking.png
data/images/images/slowpoke.png
data/images/images/slugma.png
data/images/images/slurpuff.png
data/images/images/smeargle.png
data/images/images/smoochum.png
data/images/images/sneasel.png
data/images/images/snivy.png
data/images/images/snorlax.png
data/images/images/snorunt.png
data/images/images/snover.png
data/images/images/snubbull.png
data/images/images/solgaleo.jpg
data/images/images/solosis.png
data/images/images/solrock.png
data/images/images/spearow.png
data/images/images/spewpa.png
data/images/images/spheal.png
data/images/images/spinarak.png
data/images/images/spinda.png
data/images/images/spiritomb.png
data/images/images/spoink.png
data/images/images/spritzee.png
data/images/images/squirtle.png
data/images/images/stakataka.jpg
data/images/images/stantler.png
data/images/images/staraptor.png
data/images/images/staravia.png
data/images/images/starly.png
data/images/images/starmie.png
data/images/images/staryu.png
data/images/images/steelix.png
data/images/images/steenee.jpg
data/images/images/stoutland.png
data/images/images/stufful.jpg
data/images/images/stunfisk.png
data/images/images/stunky.png
data/images/images/sudowoodo.png
data/images/images/suicune.png
data/images/images/sunflora.png
data/images/images/sunkern.png
data/images/images/surskit.png
data/images/images/swablu.png
data/images/images/swadloon.png
data/images/images/swalot.png
data/images/images/swampert.png
data/images/images/swanna.png
data/images/images/swellow.png
data/images/images/swinub.png
data/images/images/swirlix.png
data/images/images/swoobat.png
data/images/images/sylveon.png
data/images/images/taillow.png
data/images/images/talonflame.png
data/images/images/tangela.png
data/images/images/tangrowth.png
data/images/images/tapu-bulu.jpg
data/images/images/tapu-fini.jpg
data/images/images/tapu-koko.jpg
data/images/images/tapu-lele.jpg
data/images/images/tauros.png
data/images/images/teddiursa.png
data/images/images/tentacool.png
data/images/images/tentacruel.png
data/images/images/tepig.png
data/images/images/terrakion.png
data/images/images/throh.png
data/images/images/thundurus-incarnate.png
data/images/images/timburr.png
data/images/images/tirtouga.png
data/images/images/togedemaru.jpg
data/images/images/togekiss.png
data/images/images/togepi.png
data/images/images/togetic.png
data/images/images/torchic.png
data/images/images/torkoal.png
data/images/images/tornadus-incarnate.png
data/images/images/torracat.jpg
data/images/images/torterra.png
data/images/images/totodile.png
data/images/images/toucannon.jpg
data/images/images/toxapex.jpg
data/images/images/toxicroak.png
data/images/images/tranquill.png
data/images/images/trapinch.png
data/images/images/treecko.png
data/images/images/trevenant.png
data/images/images/tropius.png
data/images/images/trubbish.png
data/images/images/trumbeak.jpg
data/images/images/tsareena.jpg
data/images/images/turtonator.jpg
data/images/images/turtwig.png
data/images/images/tympole.png
data/images/images/tynamo.png
data/images/images/type-null.jpg
data/images/images/typhlosion.png
data/images/images/tyranitar.png
data/images/images/tyrantrum.png
data/images/images/tyrogue.png
data/images/images/tyrunt.png
data/images/images/umbreon.png
data/images/images/unfezant.png
data/images/images/unown.png
data/images/images/ursaring.png
data/images/images/uxie.png
data/images/images/vanillish.png
data/images/images/vanillite.png
data/images/images/vanilluxe.png
data/images/images/vaporeon.png
data/images/images/venipede.png
data/images/images/venomoth.png
data/images/images/venonat.png
data/images/images/venusaur.png
data/images/images/vespiquen.png
data/images/images/vibrava.png
data/images/images/victini.png
data/images/images/victreebel.png
data/images/images/vigoroth.png
data/images/images/vikavolt.jpg
data/images/images/vileplume.png
data/images/images/virizion.png
data/images/images/vivillon.png
data/images/images/volbeat.png
data/images/images/volcanion.png
data/images/images/volcarona.png
data/images/images/voltorb.png
data/images/images/vullaby.png
data/images/images/vulpix.png
data/images/images/wailmer.png
data/images/images/wailord.png
data/images/images/walrein.png
data/images/images/wartortle.png
data/images/images/watchog.png
data/images/images/weavile.png
data/images/images/weedle.png
data/images/images/weepinbell.png
data/images/images/weezing.png
data/images/images/whimsicott.png
data/images/images/whirlipede.png
data/images/images/whiscash.png
data/images/images/whismur.png
data/images/images/wigglytuff.png
data/images/images/wimpod.jpg
data/images/images/wingull.png
data/images/images/wishiwashi-solo.jpg
data/images/images/wobbuffet.png
data/images/images/woobat.png
data/images/images/wooper.png
data/images/images/wormadam-plant.png
data/images/images/wurmple.png
data/images/images/wynaut.png
data/images/images/xatu.png
data/images/images/xerneas.png
data/images/images/xurkitree.jpg
data/images/images/yamask.png
data/images/images/yanma.png
data/images/images/yanmega.png
data/images/images/yungoos.jpg
data/images/images/yveltal.png
data/images/images/zangoose.png
data/images/images/zapdos.png
data/images/images/zebstrika.png
data/images/images/zekrom.png
data/images/images/zeraora.jpg
data/images/images/zigzagoon.png
data/images/images/zoroark.png
data/images/images/zorua.png
data/images/images/zubat.png
data/images/images/zweilous.png
data/images/images/zygarde-50.png
data/pokemon.csv
